#page{
    width:100%;
    max-width:none;
}

/* #widget-area div{ */
/*     background-color: white */
/* } */

/* #primary .content-area{ */
/*     width:100%; */
/* } */

#mapid { 
       width:100%;
       height:100vh;
}

.oni-data{
    display:none;
}

.oni-post{
    display:none;
}

#sidebar{
    max-width:700px;
    width:30%;
}

#masthead{
    padding-left:10%;
    padding-right:10%;
    margin-bottom:0%;
    margin-top:10%;
}

#sidebar .widget{
    padding-left:10%;
}

#sidebar .widget-title{
    color: white;
    margin-top:1.5em;
}

#sidebar .hentry{
    background-color: transparent;
}

#main .hentry{
    background-color: transparent;
}

#sidebar  h1{
    display: none;
}

#sidebar .entry-content{
 padding: 0 0 10% 0;
}

.oni-date{
    color: #0000ff;
}

.oni-pagecontent{
    font-size: 1.5em;
}

p.site-description{
    font-family:Gotham;
    padding-top:1em;
    font-size:120%;
}

#sidebar{
    height:100%;
    text-align:left;
}

#sidebar .entry-footer{
    background-color:gray;
}

#content.site-content {
    margin-left:35%;
    width:65%;
    top: 0px;
}
