body{
    height:100vh;
    overflow:scroll;
}

a:hover{
    color: lightgray;
}

::-webkit-scrollbar {
    display: none;
}


#page{
    display:inline-block;
    width:100%;
    max-width:none;
    height:auto;
}

/* #widget-area div{ */
/*     background-color: white */
/* } */

#colophon{
    width:100%;
    position: fixed;
    height:40px;
    bottom:0px;
    left:0px;
    margin: 0px;
    padding:0px;
    background-color:black;
    z-index:200;
}

#colophon .site-info{
    padding:0px;
    margin-left:15px;
    margin-top:0.5em;
    color:gray;
}

#colophon .site-info a{
    color:#0000FF;
}

.site-content{
    position:fixed;
    z-index:0;
    top: 0px;
} 

.hentry{
    margin:1em 2em 6em 2em;
    padding: 0;
}

.hentry p{
    max-width: 500px;
}


#oni-header{
    display: block;
    position:fixed;
    top: 0px;
    width:100%;
    height:75px;
    padding:15px 15px;
    z-index: 999;
}

.oni-header-btn{
    width:40px;
    height:40px;
    margin-top:0px ;
    float:right;
    display:none;
}

#oni-header-btn-map{
    background: url('pictos/picto_map.png');
    background-size: cover;
}


#oni-header-btn-i{
    display:block;
    background: url('pictos/picto_i.png');
    background-size: cover;
}


#mapid{ 
    width:100%;
    height:100vh;
}

a{
    color: #0000ff;
}

.secondary-toggle{
    display: none;
}

#primary{
    width:100%;
}

#sidebar{
    position:fixed;
    background-color: black;
    z-index:99;
    overflow-y:scroll;
    height:100%;
    text-align:left;
}

#sidebar .hentry{
    background: transparent;
}

#sidebar .oni-frontpage h1{
    display: none;
}

#sidebar .entry-content{
    padding: 0 0 10% 0;
}

#sidebar .entry-header{
    padding-left: 0px;
    color: white;
    margin-bottom: 1em;
}

#sidebar .entry-title{
    margin-bottom: 0.4em;
}

#sidebar .entry-footer{
    color: gray;
    background-color: transparent;
    padding:0;
}

#sidebar .entry-footer a{
    color: lightgray;
}

#page .page-header{
    background-color: transparent;
    border:none;
    padding-left:0;
    margin:3% 10%;
}

#page .page-header h1{
    font-family: Gotham;
    color: blue;
}


.custom-logo{
    //max-width:320px;
    height:auto;
}

.oni-data{
    display:none;
}

.oni-post{
    display:none;
}


#sidebar .widget{
    padding-left:10%;
}

#sidebar .widget-title{
    color: white;
    margin-top:1.5em;
}



.oni-date{
    color: blue;
}

.oni-pagecontent{
    font-size: 1.5em;
}

p.site-description{
    padding-top:1em;
    font-size:100%;
    width: 75%;
    //    color: white;
}



.onicluster{
    background:url('pictos/picto_cluster.png');
    background-size: cover;
}

.onicluster-data{
    color:black;
    position: relative;
    font-size: 2em;
    text-align: center;
    font-family: Gotham;
    margin:auto;
}


.ssbp-li--facebook{
    margin-left:0;
}

body:after{
    display:none;
    content: url('pictos/picto_nb_vide.png') url('pictos/picto_nb_bateau.png') url('pictos/picto_nb_video.png') url('pictos/picto_nb_image.png') url('pictos/picto_nb_audio.png') url('pictos/picto_nb_quote.png') url('pictos/picto_nb_chat.png') url('pictos/picto_nb_aside.png') url('pictos/picto_nb_link.png')
}


.leaflet-container{
    background-color: transparent;
}

.p5jscontainer{
    position: fixed;
}

.onimarker-vide{
    background:url('pictos/picto_g_vide.png');
    background-size: cover;
}

.onimarker-vide.selected,
.onimarker-vide:hover{
    background:url('pictos/picto_gb_vide.png');
    background-size: cover;
}

.onimarker-vide .onimarker-elaboreve{
    //    background:url('pictos/picto_nb_vide.png');
    background:url('pictos/picto_nn_vide.png');
    background-size: cover;
}

.onimarker-vide.selected .onimarker-elaboreve,
.onimarker-vide:hover .onimarker-elaboreve{
    background:url('pictos/picto_nb_vide.png');
    background-size: cover;
}


.onimarker-bateau{
    //    background:url('pictos/picto_nb_bateau.png');
    background:url('pictos/picto_nn_bateau.png');
    background-size: cover;
}

.onimarker-bateau.selected,
.onimarker-bateau:hover{
    background:url('pictos/picto_nb_bateau.png');
    background-size: cover;
}

.onimarker-video{
    //    background:url('pictos/picto_nb_video.png');
    background:url('pictos/picto_g_video.png');
    background-size:cover;
}

.onimarker-video.selected{
    background:url('pictos/picto_gb_video.png');
    background-size:cover;
}

.onimarker-video.onimarker-elaboreve{
    background:url('pictos/picto_nn_video.png');
    background-size:cover;
}

.onimarker-video.selected.onimarker-elaboreve{
    background:url('pictos/picto_nb_video.png');
    background-size:cover;
}

.onimarker-audio{
    //    background:url('pictos/picto_nb_audio.png');
    background:url('pictos/picto_g_audio.png');
    background-size:cover;
}

.onimarker-audio.selected,
.onimarker-audio:hover{
    background:url('pictos/picto_gb_audio.png');
    background-size:cover;
}

.onimarker-audio.onimarker-elaboreve{
    //    background:url('pictos/picto_nb_audio.png');
    background:url('pictos/picto_nn_audio.png');
    background-size:cover;
}

.onimarker-audio.selected.onimarker-elaboreve{
    background:url('pictos/picto_nb_audio.png');
    background-size:cover;
}
.onimarker-audio.onimarker-elaboreve{
    //    background:url('pictos/picto_nb_audio.png');
    background:url('pictos/picto_bn_audio.png');
    background-size:cover;
}

.onimarker-audio.selected.onimarker-elaboreve{
    background:url('pictos/picto_bb_audio.png');
    background-size:cover;
}


.onimarker-image{
    //    background:url('pictos/picto_nb_image.png');
    background:url('pictos/picto_g_image.png');
    background-size:cover;
}

.onimarker-image.selected,
.onimarker-image:hover{
    background:url('pictos/picto_gb_image.png');
    background-size:cover;
}
.onimarker-image.onimarker-elaboreve{
    //    background:url('pictos/picto_nb_image.png');
    background:url('pictos/picto_nn_image.png');
    background-size:cover;
}

.onimarker-image.selected.onimarker-elaboreve{
    background:url('pictos/picto_nb_image.png');
    background-size:cover;
}



.onimarker-chat{
    //    background:url('pictos/picto_nb_chat.png');
    background:url('pictos/picto_nn_chat.png');
    background-size:cover;
}
.onimarker-chat.selected,
.onimarker-chat:hover{
    background:url('pictos/picto_nb_chat.png');
    background-size:cover;
}
.onimarker-chat.onimarker-elaboreve{
    background:url('pictos/picto_nn_chat.png');
    background-size:cover;
}
.onimarker-chat.selected.onimarker-elaboreve{
    background:url('pictos/picto_nb_chat.png');
    background-size:cover;
}



.onimarker-aside{
    //    background:url('pictos/picto_nb_aside.png');
    background:url('pictos/picto_g_aside.png');
    background-size:cover;
}
.onimarker-aside.selected,
.onimarker-aside:hover{
    background:url('pictos/picto_gb_aside.png');
    background-size:cover;
}
.onimarker-aside.onimarker-elaboreve{
    background:url('pictos/picto_nn_aside.png');
    background-size:cover;
}
.onimarker-aside.selected.onimarker-elaboreve{
    background:url('pictos/picto_nb_aside.png');
    background-size:cover;
}
.onimarker-aside.onimarker-elaboreve{
    background:url('pictos/picto_bn_aside.png');
    background-size:cover;
}
.onimarker-aside.selected.onimarker-elaboreve{
    background:url('pictos/picto_bb_aside.png');
    background-size:cover;
}



.onimarker-quote{
    //    background:url('pictos/picto_nb_quote.png');
    background:url('pictos/picto_g_quote.png');
    background-size:cover;
}
.onimarker-quote.selected,
.onimarker-quote:hover{
    background:url('pictos/picto_gb_quote.png');
    background-size:cover;
}
.onimarker-quote.onimarker-elaboreve{
    background:url('pictos/picto_nn_quote.png');
    background-size:cover;
}

.onimarker-quote.selected.onimarker-elaboreve{
    background:url('pictos/picto_nb_quote.png');
    background-size:cover;
}
.onimarker-quote.onimarker-elaboreve{
    background:url('pictos/picto_bn_quote.png');
    background-size:cover;
}

.onimarker-quote.selected.onimarker-elaboreve{
    background:url('pictos/picto_bb_quote.png');
    background-size:cover;
}





.onimarker-link{
    //    background:url('pictos/picto_nb_link.png');
    background:url('pictos/picto_g_link.png');
    background-size:cover;
}
.onimarker-link.selected,
.onimarker-link:hover{
    background:url('pictos/picto_gb_link.png');
    background-size:cover;
}
.onimarker-link.onimarker-elaboreve{
    background:url('pictos/picto_nn_link.png');
    background-size:cover;
}
.onimarker-link.onimarker-elaboreve{
    background:url('pictos/picto_bn_link.png');
    background-size:cover;
}

.onimarker-link.selected.onimarker-elaboreve{
    background:url('pictos/picto_bb_link.png');
    background-size:cover;
}


.onimarker-link.selected.onimarker-elaboreve{
    background:url('pictos/picto_nb_link.png');
    background-background-size
}

.oni-pictoconcert{
    display:inline-block;
    background:url('pictos/picto_concert.png');
    width: 35px;
    height: 20px;
    background-size:cover;
    margin-right:10px;
}


@media screen and (min-width: 320px){
    .site-content{
	position:fixed;
	margin:0;
	width:100%;
	top: 60px;
    }

    .custom-logo{
	width:200px;
    }

    .oni-header-btn{
	width:30px;
	height:30px;
	margin-top:0px ;
	float:right;
	display:none;
    }
    
    #sidebar{
	top: 60px;
	width: 100%;
	//	height: 100%;
	background-color: rgba(0,0,0,0.8);
	margin-left:-100vw;
    }
    #masthead{
	display:none;
    }

    .site-branding{
	display: none;
    }


    .hentry{
	margin-left:15px;
	margin-right:15px;
    }
}

@media screen and (min-width: 620px){
    #oni-header{
	padding:15px 2em;
    }


    .hentry{
	margin-left:30px;
	margin-right:30px;
    }

    #colophon .site-info{
	margin-left:30px;
    }

}

@media screen and (min-width: 55em){
    .custom-logo{
	width:260px;
    }

    
    .oni-header-btn{
	width:40px;
	height:40px;
	margin-top:0px ;
	float:right;
	display:none;
    }
    
    #sidebar{
	top: 75px;
	width: 100%;
	//	height: 100%;
	background-color: rgba(0,0,0,0.8);
	margin-left:-100vw;
    }

    /* .custom-logo{
       width:auto;
       } */
    
    .site-content {
	position: fixed;
	width:100%;
	margin:0;
	top: 75px;
    }


    #sidebar{
	width:100%;
    }
    /* 
       #masthead{
       height:100px;
       margin:0;
       padding:15px;
       } */

    
}


@media screen and (min-width: 59.6875em){
    
    #page{
	height: auto;
    }
    
    #colophon{
	width:35%;
    }
    
    #oni-header{
	display: none;
    }
    
    .site-content {
	margin-left:35%;
	width:65%;
	top: 0px;
    }
    
    .hentry{
	margin:10%;
	padding: 0;
    }
    

    #colophon .site-info{
	margin-left:10%;
    }
    
    .custom-logo{
	max-with:250px;
    }
    
    #sidebar{
	position:absolute;
	top:0px;
	width:35%;
	margin-left:0;
	margin-right:-30px;
	overflow: auto;
	height:auto;
    }

    .site-branding{
	display: block;
    }
    
    #masthead{
	display:block;
    }
    
    #masthead{
	height:auto;
	padding-left:10%;
	padding-right:10%;
	margin-bottom:0%;
	margin-top:5%;
    }
    }

    @media screen and (min-width: 68.75em) {
	
	.custom-logo{
	    max-with:320px;
	}
    }
